<h3> Apply to <%= @job.title %> </h3>

<hr>

<%= simple_form_for [@job, @resume] do |f| %>
  <%= f.input :content, :label => "Self Introduction" %>
  <%= f.input :attachment, :label => "Upload Related Document" %>
  <%= f.submit "Submit" %>
<% end %>
