<!DOCTYPE html>
<html>
  <head>
    <title>樱桃娱乐网 - 澳门首家线上模特网上线啦</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="<%= image_path("cherry.ico") %>" rel="shortcut icon" />
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>
      </div>
        <!-- <%= render "common/flashes" %> -->
      <%= yield %>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
